<p class="social-links">
	<a href="https://twitter.com/allmightyspiff"><i class="fa fa-twitter"></i></a>
	<a href="https://github.com/allmightyspiff"><i class="fa fa-github"></i></a>
	<a href="https://plus.google.com/+ChristopherGallo/posts"><i class="fa fa-google-plus"></i></a>
	<a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i></a>
</p>